In [ ]:
SELECT ID, FISH_NAME, LENGTH
FROM FISH_INFO as FI1
JOIN FISH_NAME_INFO as FNI
ON FI1.FISH_TYPE = FNI.FISH_TYPE
WHERE LENGTH = (
    SELECT MAX(LENGTH)
    FROM FISH_INFO as FI2
    WHERE FI1.FISH_TYPE = FI2.FISH_TYPE
    GROUP BY FISH_TYPE
)
ORDER BY ID

In [ ]:
SELECT FI.ID, FNI.FISH_NAME, FI.LENGTH
FROM FISH_INFO FI
JOIN FISH_NAME_INFO FNI
    ON FI.FISH_TYPE = FNI.FISH_TYPE
JOIN (
    SELECT FISH_TYPE, MAX(LENGTH) AS MAX_LEN
    FROM FISH_INFO
    GROUP BY FISH_TYPE
) AS MAX_TABLE
    ON FI.FISH_TYPE = MAX_TABLE.FISH_TYPE AND FI.LENGTH = MAX_TABLE.MAX_LEN
ORDER BY FI.ID;

In [ ]:
SELECT 
    YEAR(e.DIFFERENTIATION_DATE) AS YEAR,
    (m.MAX_SIZE - e.SIZE_OF_COLONY) AS YEAR_DEV,
    e.ID
FROM 
    ECOLI_DATA e
JOIN (
    SELECT 
        YEAR(DIFFERENTIATION_DATE) AS YEAR,
        MAX(SIZE_OF_COLONY) AS MAX_SIZE
    FROM 
        ECOLI_DATA
    GROUP BY 
        YEAR(DIFFERENTIATION_DATE)
) m
ON YEAR(e.DIFFERENTIATION_DATE) = m.YEAR
ORDER BY 
    YEAR ASC,
    YEAR_DEV ASC;