In [ ]:
SELECT WAREHOUSE_ID, WAREHOUSE_NAME, ADDRESS, IF(FREEZER_YN IS NULL, "N", FREEZER_YN) as FREEZER_YN
FROM FOOD_WAREHOUSE
WHERE WAREHOUSE_NAME Like "%경기%"
ORDER BY WAREHOUSE_ID

In [ ]:
SELECT WAREHOUSE_ID, WAREHOUSE_NAME, ADDRESS, IFNULL(FREEZER_YN, "N") as FREEZER_YN
FROM FOOD_WAREHOUSE
WHERE WAREHOUSE_NAME Like "%경기%"
ORDER BY WAREHOUSE_ID