[select] 평균 일일 대여 요금 구하기

In [ ]:
SELECT ROUND(AVG(DAILY_FEE), 0) as AVERAGE_FEE
FROM CAR_RENTAL_COMPANY_CAR
WHERE CAR_TYPE = 'SUV'

# 링크
https://school.programmers.co.kr/learn/courses/30/lessons/151136

# 이론
ROUND()를 통해 소수점 반올림이 가능

---

In [ ]:
SELECT USER_ID, PRODUCT_ID
FROM ONLINE_SALE
GROUP BY USER_ID, PRODUCT_ID
HAVING COUNT(*) > 1
ORDER BY USER_ID ASC, PRODUCT_ID DESC;

# 링크 
https://school.programmers.co.kr/learn/courses/30/lessons/131536

# 이론

- 문제 이해 오류
- 재구매 != 판매량 > 1

- GROUP BY: 동일한 값끼리 하나로 묶어줌

- HAVING: 조건을 필터링할때 사용

- OREDR BY: 쿼리 결과를 특정 열의 값에 따라 정렬 ASC, DESC

---

In [ ]:
SELECT NAME, DATETIME
FROM ANIMAL_INS
ORDER BY  ANIMAL_ID DESC

# 링크
https://school.programmers.co.kr/learn/courses/30/lessons/59035

---

In [ ]:
SELECT ANIMAL_ID, NAME
FROM ANIMAL_INS
WHERE INTAKE_CONDITION = 'Sick'

# 링크
https://school.programmers.co.kr/learn/courses/30/lessons/59036

---

In [ ]:
SELECT ANIMAL_ID, NAME
FROM ANIMAL_INS 
WHERE NOT INTAKE_CONDITION = 'Aged'

# 링크
https://school.programmers.co.kr/learn/courses/30/lessons/59037#fn1

---

In [ ]:
SELECT ANIMAL_ID, NAME
FROM ANIMAL_INS

# 링크
https://school.programmers.co.kr/learn/courses/30/lessons/59403

---

SELECT ANIMAL_ID, NAME, DATETIME
FROM ANIMAL_INS 
ORDER BY NAME ASC, DATETIME DESC

# 링크
https://school.programmers.co.kr/learn/courses/30/lessons/59404

---

In [ ]:
SELECT NAME
FROM ANIMAL_INS 
ORDER BY DATETIME ASC
LIMIT 1

In [ ]:
SELECT NAME
FROM ANIMAL_INS 
WHERE DATETIME = (
    SELECT MIN(DATETIME) 
    FROM ANIMAL_INS
)

# 링크
https://school.programmers.co.kr/learn/courses/30/lessons/59405

# 이론
1. LIMIT: 결과 값의 개수를 지정해서 보여줄 수 있음
2. 이중 SELECT 활용: WHERE에서 특정 값을 가진 데이터를 가져옴

---

In [ ]:
-- 코드를 입력하세요
SELECT COUNT(*) as USERS
FROM USER_INFO
WHERE AGE >= 20 AND AGE <= 29 AND YEAR(JOINED) = '2021'

# 링크
https://school.programmers.co.kr/learn/courses/30/lessons/131535

# 이론

## DATE TYPE

- YYYY-MM-DD 형식으로 데이터가 저장됨 ex) '2024-12-30'
- YYYY-MM-DD HH:MM:SS
- 컬럼 생성: event_date DATE
- 삽입 데이터: '2024-12-30'
- 현재 날짜: CURDATE()
- 날짜 비교: event_date < '2024-12-31'능
- 날짜 추출: YEAR(event_date), MONTH(event_date), DAY(event_date)
- 날짜 연산
    - 차이 계산: DATEDIFF('2024-12-30', '2024-12-25')
    - 날짜 추가: DATE_ADD('2024-12-25', INTERVAL 5 DAY)
    - 날짜 제거: DATE_SUB('2024-12-25', INTERVAL 1 MONTH)

---

In [ ]:
SELECT ICECREAM_INFO.FLAVOR
FROM ICECREAM_INFO, FIRST_HALF
WHERE FIRST_HALF.FLAVOR = ICECREAM_INFO.FLAVOR AND FIRST_HALF.TOTAL_ORDER > 3000 AND ICECREAM_INFO.INGREDIENT_TYPE
 = 'fruit_based'
ORDER BY FIRST_HALF.TOTAL_ORDER DESC

# 링크
https://school.programmers.co.kr/learn/courses/30/lessons/133025

# 이론
## where 사용법
- 두 테이블에서 WHERE 사용
- FIRST_HALF.FLAVOR = ICECREAM_INFO.FLAVOR의 의미는 암시적으로 두 테이블이 조인 했다는 것을 의미
- 카티전 곱(모든 행의 조합)이 발생하며, 테이블 A의 행 수와 테이블 B의 행 수를 곱한 수만큼의 불필요한 데이터가 생성
- join을 통해서 이 문제를 똑같이 해결 가능 -> 가독성이 더 높음

---

In [ ]:
SELECT MEMBER_ID, MEMBER_NAME, GENDER, DATE_FORMAT(DATE_OF_BIRTH, '%Y-%m-%d') AS DATE_OF_BIRTH
FROM MEMBER_PROFILE
WHERE TLNO IS NOT NULL AND MONTH(DATE_OF_BIRTH) = '03' AND GENDER = 'w'
ORDER BY MEMBER_ID ASC

# 링크
https://school.programmers.co.kr/learn/courses/30/lessons/131120

# 이론
## DATE_FORMAT()

- DATE_FORMAT(DATE_OF_BIRTH, '%Y-%m-%d')


| **지정자** | **설명**                          | **예시**                  |
|------------|-----------------------------------|---------------------------|
| `%Y`       | 4자리 연도                        | `2024`                    |
| `%y`       | 2자리 연도                        | `24`                      |
| `%m`       | 2자리 월 (01-12)                  | `12`                      |
| `%c`       | 1자리 또는 2자리 월               | `1`, `12`                 |
| `%d`       | 2자리 일                          | `30`                      |
| `%e`       | 1자리 또는 2자리 일               | `1`, `30`                 |
| `%H`       | 2자리 시간 (00-23, 24시간제)      | `14`                      |
| `%h`       | 2자리 시간 (01-12, 12시간제)      | `02`                      |
| `%i`       | 2자리 분                          | `05`                      |
| `%s`       | 2자리 초                          | `59`                      |
| `%p`       | AM/PM 표시                        | `PM`                      |
| `%W`       | 요일 이름 (영문 전체)             | `Monday`                  |
| `%a`       | 요일 이름 (영문 약자)             | `Mon`                     |
| `%M`       | 월 이름 (영문 전체)               | `December`                |
| `%b`       | 월 이름 (영문 약자)               | `Dec`                     |
| `%D`       | 일 표시 (숫자+서수)               | `1st`, `2nd`, `30th`      |


## NULL 다루기

| **연산자** | **용도**                           | **예시**                  |
|----------- |-----------------------------------|---------------------------|
| `=`        | 값이 특정 값과 동일한지 비교         | `column_name = 'value'`     |
| `IS`      | NULL, TRUE/FALSE, 특정 상태를 확인   | `column_name IS NULL`      |


1. IS UNKNOWN: NULL 혹은 정의 x <-> IS NOT UNKNOWN
2. IS NULL: 해당 열이 NULL인 경우 <-> IS NOT NULL
3. 문자열 'NULL'도 가능하지만 일부로 NULL이라는 문자를 사용할 수 있으니 사용 하지 않는 걸로 생각하는게 좋을 듯

---

In [ ]:
SELECT DR_NAME, DR_ID, MCDP_CD, DATE_FORMAT(HIRE_YMD, '%Y-%m-%d') as HIRE_YMD
FROM DOCTOR
WHERE MCDP_CD = 'CS' OR MCDP_CD = 'GS'
ORDER BY HIRE_YMD DESC, DR_NAME ASC

# 링크
https://school.programmers.co.kr/learn/courses/30/lessons/132203

---

In [ ]:
SELECT FLAVOR
FROM FIRST_HALF
WHERE TOTAL_ORDER > 0
ORDER BY TOTAL_ORDER DESC, SHIPMENT_ID ASC

## 링크
https://school.programmers.co.kr/learn/courses/30/lessons/133024

---

In [ ]:
SELECT FACTORY_ID, FACTORY_NAME, ADDRESS
FROM FOOD_FACTORY
WHERE ADDRESS LIKE '%강원도%'
ORDER BY FACTORY_ID ASC

## 링크
https://school.programmers.co.kr/learn/courses/30/lessons/131112

# 이론

## LIKE
- %검색문자열%: 문자열 어디에든 검색어가 포함되어 있는 경우
- 검색문자열%: 문자열이 시작되는 경우
- %검색문자열: 문자열이 끝나는 경우

---

In [ ]:
SELECT PT_NAME, PT_NO, GEND_CD, AGE, IFNULL(TLNO, 'NONE') AS TLNO
FROM PATIENT
WHERE AGE <= 12 AND GEND_CD = 'W'
ORDER BY AGE DESC, PT_NAME ASC

# 링크
https://school.programmers.co.kr/learn/courses/30/lessons/132201

# 이론
- IFNULL(TLNO, 'NONE') AS TLNO: 값이 NULL 이면 다른 값으로 변경
- REPLACE(column_name, '기존값', '대체값'): 특정 값을 다른 값으로 변경// null 일때 작동 x

---

In [ ]:
SELECT BOOK_ID, DATE_FORMAT(PUBLISHED_DATE, "%Y-%m-%d") as PUBLISHED_DATE
FROM BOOK
WHERE CATEGORY = "인문" AND year(PUBLISHED_DATE) = '2021'
ORDER BY PUBLISHED_DATE ASC

# 링크
https://school.programmers.co.kr/learn/courses/30/lessons/144853

---

In [ ]:
SELECT USED_GOODS_BOARD.TITLE, USED_GOODS_BOARD.BOARD_ID, USED_GOODS_REPLY.REPLY_ID, USED_GOODS_REPLY.WRITER_ID, USED_GOODS_REPLY.CONTENTS, DATE_FORMAT(USED_GOODS_REPLY.CREATED_DATE, '%Y-%m-%d') as CREATED_DATE
FROM USED_GOODS_BOARD, USED_GOODS_REPLY
WHERE USED_GOODS_BOARD.BOARD_ID = USED_GOODS_REPLY.BOARD_ID AND year(USED_GOODS_BOARD.CREATED_DATE) = '2022' AND month(USED_GOODS_BOARD.CREATED_DATE) = '10'
ORDER BY  USED_GOODS_REPLY.CREATED_DATE ASC, USED_GOODS_BOARD.TITLE ASC

# 링크
https://school.programmers.co.kr/learn/courses/30/lessons/164673

---

In [ ]:
SELECT *
FROM ANIMAL_INS

# 링크
https://school.programmers.co.kr/learn/courses/30/lessons/59034

---

In [ ]:
SELECT ID, EMAIL, FIRST_NAME, LAST_NAME
FROM DEVELOPER_INFOS 
WHERE SKILL_1 = 'Python' OR SKILL_2 = 'Python' OR SKILL_3 = 'Python'
ORDER BY ID ASC

# 링크
https://school.programmers.co.kr/learn/courses/30/lessons/276013

---

In [ ]:
SELECT COUNT(ID) as FISH_COUNT
FROM FISH_INFO
WHERE LENGTH IS NULL

# 링크
https://school.programmers.co.kr/learn/courses/30/lessons/293258

In [ ]:
SELECT ID, LENGTH
FROM FISH_INFO
WHERE LENGTH IS NOT NULL
ORDER BY LENGTH DESC, ID ASC
LIMIT 10

# 링크

https://school.programmers.co.kr/learn/courses/30/lessons/298517

---

In [ ]:
SELECT REST_INFO.REST_ID, REST_INFO.REST_NAME, REST_INFO.FOOD_TYPE, 
REST_INFO.FAVORITES, REST_INFO.ADDRESS, ROUND(AVG(REST_REVIEW.REVIEW_SCORE), 2) AS SCORE
FROM REST_INFO, REST_REVIEW
WHERE REST_INFO.REST_ID = REST_REVIEW.REST_ID AND REST_INFO.ADDRESS LIKE '서울%'
GROUP BY 1, 2, 3, 4, 5
ORDER BY SCORE DESC, REST_INFO.FAVORITES DESC

# 링크 
https://school.programmers.co.kr/learn/courses/30/lessons/131118

# 이론

## GROUP BY

1. select를 기준으로 특정하게 분리를 할때 사용
즉, 위의 문제에서 avg는 모든 식당의 score의 평균 값을 계산하게 만들었지만 group by를 통해서 select 1, 2, 3, 4, 5가 그룹으로 된 식당의 평균 값을 계산하게 만듬

- GROUP BY는 SQL에서 데이터를 특정 열을 기준으로 그룹화하여 집계 함수(e.g., SUM, AVG, COUNT, MAX, MIN)와 함께 사용하기 위한 구문

- GROUP BY의 동작 순서
FROM: 데이터가 테이블에서 조회됩니다.
WHERE: 필터 조건이 적용되어 그룹화 대상이 되는 데이터가 제한됩니다.
GROUP BY: 데이터를 지정된 열을 기준으로 그룹화합니다.
집계 함수 적용: 각 그룹에 대해 집계 함수가 계산됩니다.
HAVING: 그룹화된 결과에 조건이 적용됩니다.
ORDER BY: 결과가 정렬됩니다.
SELECT: 최종 결과를 출력합니다.

---

In [ ]:
SELECT DATE_FORMAT(SALES_DATE, '%Y-%m-%d'), PRODUCT_ID, USER_ID, SALES_AMOUNT
FROM(
    SELECT SALES_DATE, PRODUCT_ID, USER_ID, SALES_AMOUNT
    FROM ONLINE_SALE
    WHERE YEAR(SALES_DATE) = '2022' AND MONTH(SALES_DATE) = '03'
    UNION ALL
    SELECT SALES_DATE, PRODUCT_ID, NULL AS USER_ID, SALES_AMOUNT
    FROM OFFLINE_SALE
    WHERE YEAR(SALES_DATE) = '2022' AND MONTH(SALES_DATE) = '03'
) AS SALES
ORDER BY SALES_DATE ASC, PRODUCT_ID ASC, USER_ID ASC;

# 링크
https://school.programmers.co.kr/learn/courses/30/lessons/131537

# 이론
- 이 문제는 두개의 테이블의 select 값을 묶는 문제였다.

## UNION
- UNION은 SQL에서 두 개 이상의 SELECT 쿼리 결과를 합치는 연산자

### UNION의 주요 특징
1. 결과 중복 제거
2. 두 SELECT문의 열 개수와 데이터 타입 일치
3. UNION은 결과를 기본적으로 오름차순으로 정렬합니다.

- 쉽게 두 테이블을 묶어서 하나의 테이블을 만든다고 생각하면 쉬움
- 추가로 UNION ALL은 중복을 제거하지 않고 다 보여줌
- 성능적으로 중복 처리를 안 해서 더 빠름

---