In [ ]:
SELECT CAR_ID, ROUND(AVG(DATEDIFF(END_DATE, START_DATE)+1),1) as AVERAGE_DURATION
FROM CAR_RENTAL_COMPANY_RENTAL_HISTORY
GROUP BY CAR_ID
HAVING AVERAGE_DURATION >= 7
ORDER BY AVERAGE_DURATION DESC, CAR_ID DESC

In [ ]:
SELECT 
  CONCAT('/home/grep/src/', b.BOARD_ID, '/', f.FILE_ID, f.FILE_NAME, f.FILE_EXT) AS FILE_PATH
FROM USED_GOODS_BOARD AS b
JOIN USED_GOODS_FILE AS f
  ON b.BOARD_ID = f.BOARD_ID
WHERE b.BOARD_ID = (
  SELECT BOARD_ID
  FROM USED_GOODS_BOARD
  ORDER BY VIEWS DESC
  LIMIT 1
)
ORDER BY f.FILE_ID DESC;

In [ ]:
SELECT 
  CONCAT('/home/grep/src/', b.BOARD_ID, '/', f.FILE_ID, f.FILE_NAME, f.FILE_EXT) AS FILE_PATH
FROM USED_GOODS_BOARD AS b
JOIN USED_GOODS_FILE AS f
  ON b.BOARD_ID = f.BOARD_ID
WHERE b.VIEWS = (
  SELECT MAX(VIEWS)
  FROM USED_GOODS_BOARD
)
ORDER BY f.FILE_ID DESC;

max는 최대의 조회수를 뽑아내고 데이터를 추출하는 것인데, 최대 조회수가 동일하게 더 있다면 최대 게시물이 두개일 경우 데이터가 나오지 않음 그래서 문제의 정답은 둘다 맞지만 현실에서는 limit을 활용하는 쿼리가 올바름

In [ ]:
SELECT ORDER_ID, PRODUCT_ID, DATE_FORMAT(OUT_DATE, "%Y-%m-%d") as OUT_DATE, 
    IF(OUT_DATE IS NULL, "출고미정", IF('2022-05-01' >= OUT_DATE, '출고완료', '출고대기')) as 출고여부
FROM FOOD_ORDER
ORDER BY ORDER_ID

In [ ]:
SELECT CCC.CAR_ID
FROM CAR_RENTAL_COMPANY_CAR as CCC
JOIN CAR_RENTAL_COMPANY_RENTAL_HISTORY as CCCH
ON CCC.CAR_ID = CCCH.CAR_ID
WHERE CAR_TYPE = '세단' and MONTH(START_DATE) = 10
GROUP BY CCC.CAR_ID
ORDER BY CCC.CAR_ID DESC

In [ ]:
SELECT USER_ID, NICKNAME, CONCAT(CITY, ' ',STREET_ADDRESS1, ' ', STREET_ADDRESS2) as 전체주소, 
CONCAT(SUBSTRING(TLNO,1, 3), '-', SUBSTRING(TLNO, 4, 4), '-', SUBSTRING(TLNO, 8, 4)) as 전화번호
FROM USED_GOODS_BOARD
JOIN USED_GOODS_USER
ON WRITER_ID = USER_ID
GROUP BY WRITER_ID
HAVING COUNT(WRITER_ID) >= 3
ORDER BY USER_ID DESC

In [ ]:
SELECT NAME, DATETIME
FROM ANIMAL_INS
WHERE ANIMAL_ID NOT IN (
    SELECT ANIMAL_ID
    FROM ANIMAL_OUTS
)
ORDER BY DATETIME
LIMIT 3